<table>
    <caption><%= t('.table.caption') %></caption>
    <tr>
        <th><%= t('.table.header.name') %></th>
        <th><%= t('.table.header.password') %></th>
        <th><%= t('.table.header.status') %></th>
        <th><%= t('.table.header.errors') %></th>
    </tr>
    <% user_import.users.each do |user| %>
        <tr>
            <td><%= user.name %></td>
            <td><%= user.password %></td>
            <td><%= user.persisted? ? t('.table.body.status.created') : t('.table.body.status.error') %></td>
            <td><%= user.errors.full_messages.join(", ") %></td>
        </tr>
    <% end %>
</table>
